<div class="offer-panel-container clearfix">
  <div class="offer-information-container">
    <div class="information-wrapper">
      <h3> {{ name }} </h3>
      <p class="clearfix">
        <i class="fa fa-dollar"></i> Loan Amount: <strong class="pull-right">${{ amount }}</strong>
      </p>
      <p class="clearfix">
        <i class="fa fa-credit-card"></i> Credit Score: <strong class="pull-right">{{ credit_score }}</strong>
      </p>
      <p class="clearfix">
        <i class="fa fa-bank"></i> Income: <strong class="pull-right">{{ income }}</strong>
      </p>
    </div>
  </div>

  <div class="sort-region"></div>
</div>

<div class="offers-region"></div>
<div class="compare-btn-region"></div>

