<div class="text-center">
  {{ name }}
</div>

<div class="option-bezel">
  <div class="marker"></div>
  <a href="#" data-sort="asc">asc</a>
  <a href="#" data-sort="off">off</a>
  <a href="#" data-sort="desc">desc</a>
</div>
