// BreakPoints==========================
$breakpoints: (phone: 300px, tablet: 660px, desktop: 990px);

// Colors ==============================

$border-color: #ddd;

$color-first: #2755A2;
$color-second: #5CC1A7;
$color-action: #e55c0f;

$text-color-inverse: #fff;

// Typography ==========================

$font-fam-header: 'Open Sans', sans-serif;

